// @todo: document me

.m-blog-list {
	// space for divider and icons
	li {
		position: relative;
		margin-top: 1em;
		margin-bottom: 50px;
		padding-top: 1em;
		border-top: 1px solid rgba(#000, 0.7);

		&:last-child { margin-bottom: 0; }
	}

	.blog__title {
		text-decoration: none;
	}

	// so floated date doesn't overlap
	.blog__summary,
	.blog__title {
		max-width: 30em;
		overflow: hidden;
	}

	.blog__title {
		@extend %heading__gamma;
		@extend %link;

		font-family: inherit;

		// replay as heading gets color after link
		color: #e1e3e5;
		color: #474f57;
	}

	// @todo: get base text to scale with breakpoints
	.blog__summary {
		margin-top: 0.3em;
		font-size: 18px;
	}
}

.t--complement {
	.blog__title {
		color: #222529;
	}

	.meta__icons .fa {
		background-color: #8286af;
	}
}

.-flat {
	.meta__icons .fa {
		background-image: none;
	}
}
