.m-nav {
	text-align: center;

	li {
		font-family: $font__deco;
		font-size: 22px;
	}

	a {
		text-decoration: none;
		color: #474f57;
	}

	.-home &.-main {

		li,
		a {
			display: inline-block;
		}

		li {
			font-size: 22px;

			+ li {
				margin-left: 1.5em;
			}
		}

		a {

			color: #541d5c;

			&:hover,
			&:focus {
				color: #e76ee6;
			}
		}

		@media (min-width: 640px) {
			li {
				font-size: 48px;
			}
		}
	}

	.-standard &.-main {
		li {
			border-bottom: 1px solid #e1e3e5;
		}

		a {
			display: block;
			width: 100%;
		}
	}
}


.to-integrate.m-nav {
	text-align: center;

	li,
	a {
		display: inline-block;
	}

	li {
		padding-left: 8px;
		padding-right: 8px;
	}

	a {
		@extend %heading__delta;

		margin-bottom: 0;
		padding-left: 8px;
		padding-right: 8px;

		color: #585f65;

		text-decoration: none;

		&:hover,
		&:focus {
			// @todo: check a11y on this
			color: #5b7ea0;
		}
	}


	@media (min-width: 720px) {
		padding-top: 32px;
		text-align: left;

		li {
			display: block;
			width: 100%;

			margin-bottom: 12px;
			padding: 0;
		}

		a {
			padding: 0;
		}
	}
}
