/*
	color strips
*/

.m-strip {
	padding-top: 32px;
	padding-bottom: 32px;
	background-color: #becbd9;
	background-image: url('../images/noise.png');
	background-attachment: fixed;

	&.-flat {
		background-image: none;
	}

	.strip__title {
		@extend %heading__delta;
	}

	:last-child {
		margin-bottom: 0;
	}

	&.t--bold {
		background-color: #8e389a;
		color: #170918;
		text-shadow: 0 1px 0 #ac4ab3;
		font-size: 32px;
		font-family: $font__body--alt;
		text-align: center;
	}

	&.t--complement {
		background-color: #8286af;
		color: #141618;
	}

	&.t--accent {
		background-color: #74779a;
		color: #141618;
	}

	&.t--highlight {
		background-color: #becbd9;
	}
}
