<div class="page__footer">
	<div class="page__width">
		<ul class="socialLinks">
			<li>
				<a class="social__link" href="https://github.com/Piderman" target="_blank">
					<span class="offscreen">Fork me on GitHub</span> <i class="icon-github"></i>
				</a>
			</li>
			<li>
				<a class="social__link" href="https://twitter.com/cmrPyro" target="_blank">
					<span class="offscreen">Follow me on Twitter</span> <i class="icon-twitter"></i>
				</a>
			</li>
		</ul>
		<footer class="page__copywrite">I'm going to go ahead and&hellip;<br/>&copy; Matty Collins</footer>
	</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/libs/jquery-1.9.1.min.js"><\/script>')</script>

<script src="/giraffe/scripts/plugins.js"></script>
<script src="/giraffe/scripts/main.js"></script>

<script>
	var _gaq=[['_setAccount','UA-24863975-1'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src='//www.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>