<!-- "cache" svg elements -->
<svg style="display:none">
	<path id="svgTriangle--northWest" d="M 0 0 L 100 0 L 0 100 z"></path>
	<path id="svgTriangle--northEast" d="M 0 0 L 100 0 L 100 100 z"></path>
	<path id="svgTriangle--southEast" d="M 0 100 L 100 100 L 0 100 z"></path>
	<path id="svgTriangle--southWest" d="M 100 100 L 0 100 L 0 0 z"></path>
</svg>
<div class="page__header">
	<div class="page__width">
		<div class="topLayer">
			<a href="/" class="branding--logo">Matty Collins <span>Web Developer</span></a>
			<svg class="bottomTriangle" viewBox="0 0 100 100" preserveAspectRatio="none">
				<use xlink:href="#svgTriangle--northWest"></use>
			</svg>
		</div>
		<div class="bottomLayer">
			<nav class="navigation--site">
				<ul>
					<li><a href="/about.html">About this guy</a></li>
					<li><a href="/blerg.html">Blog</a></li>
				</ul>
				<svg class="navTriangle" viewBox="0 0 100 100" preserveAspectRatio="none">
					<use xlink:href="#svgTriangle--northEast"></use>
				</svg>
			</nav>
		</div>
		<!-- <svg class="triangle--northEast" viewBox="0 0 100 100" preserveAspectRatio="none">
			<use xlink:href="#svgTriangle--northEast"></use>
		</svg> -->
	</div>
</div>