{% include mohawk/partials/head.html %}
{% include mohawk/partials/page__header.html %}

<main class="page__body">
	<article>
		<header class="page__width">
			<div class="blog__meta -title">
				<h1 class="page__title">{{page.title}}</h1>

			{% if page.icons %}
				<div class="meta__icons">
				{% for tagIcon in page.icons %}
					<i class="fa fa-{{tagIcon}}"></i>
				{% endfor %}
				</div>
			{% endif %}

				<span class="meta__date">
					{{ page.date | date_to_long_string }}
				</span>

				{% if page.tags.size > 0 %}
					<small class="meta__tags"> <i class="icon-tags"></i> Tagged with: {{ page.tags | array_to_sentence_string }}</small>
				{% endif %}
			</div>
		</header>

		<div class="page__width">
			<div class="t-copy">
				{{content}}
			</div>
		</div>
	</article>

	{% if page.related %}
		<div class="m-related">
			<h2 class="delta gamma--line">
				<span class="gamma__text">Related</span>
			</h2>
			<div class="related__list">
				{% for related__item in page.related %}
					{% assign post__related = related__item | downcase %}

					{% for post in site.posts %}
						{% assign post__title = post.title | downcase %}
							{% if post__title == post__related %}
							<a href="{{ post.url }}" class="button">{{ post.title }}</a>
							{% endif %}
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	{% endif %}

	<aside class="m-comments t-copy">
		<h3>
			<i class="icon-comment"></i>
			Comments
		</h3>
		{% if page.comments %}
			<div id="disqus_thread" class="m-disqus"></div>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		{% else %}
			<p>Comments have been disabled for this entry.</p>
		{% endif %}
	</aside>

	<div class="m-strip t--complement -flat">
		<div class="page__width">
			<h2 class="">Recent posts are recent</h2>
			<ol class="m-blog-list">
				{% for post in site.posts limit: 3 %}
					{% include mohawk/widgets/blog-list-item.html %}
				{% endfor%}
			</ol>
		</div>
	</div>
</main>

{% include mohawk/partials/page__footer.html %}
