//typography / branding

body {
	font-family: $font__sans;
	font-size: em(14);
	
	@include breakpoint(2) {
		font-size: em(16);
	}

	@include breakpoint(3) {
		font-size: em(18);
	}
}

%alpha,
.alpha {
	margin: 0 0 1em;

	font-size: em(120,18);
	font-family: $font__hand;
	font-weight: 200;
}

%beta,
.beta {
	margin: 0 0 0.5em;
	color: #6a4944;
	
	font: {
		size: em(28,18);
		family: $font__serif;
	}
}

%gamma,
.gamma {
	position: relative;
	margin: 3em 0;
	color: #a5766e;
	font-size: em(20);
	text-align: center;
	
	&:before{
		content: "";
		position: absolute;
		top: 50%; left: 2em; right: 2em;

		height: 1px;
		border-top: 1px solid #a5766e;
		border-bottom: 1px solid #a5766e;
	}

	.gamma__text { position: relative; background: #fff7f3; padding: 0 0.5em; }
}


//mixin_description
@mixin link {
	color: #8174d3;
	border-bottom: 1px dashed #70699e;
	text-decoration: none;


	&:hover,
	&:focus { background: #f3ebe8; border-bottom-style: solid; }
}


// allows the color of whatever we set to run through
a { color: inherit; }

ins {
	padding: 0 2px;
	background: #f7d498;
	text-decoration: none;
	font: {
		style: italic;
		// weight: bold;
	}
}

.intro {
	font: {
		size: 1.07em;
		weight: bold;
	}

	bold { font-weight: normal; }
}

//all "editable" content should look the same
.t-copy {

	// does this cap line lenght?
	// max-width: 45em!important;
	max-width: 36em!important;

	a { @include link; }


	

	ul {
		margin: 0 0 10px 15px;
		
		li {
			position: relative;
			list-style: none;
			margin-bottom: 5px;

			//bullet
			&:before {
				position: absolute;
				top: 0; left: -15px;
				font-size: 1.5em;
				content: "\2022";
				line-height: 1; vertical-align: middle;
			}
		}
	}

	li > ul,
	li > ol { margin-bottom: 0; }

	
	blockquote,
	q {
		&:before,
		&:after {
			color: $red;
			font: {
				family: Georgia;
				weight: bold;
			}
		}


		&:before { content: "\201C"; }
	}


	blockquote {
		position: relative;
		margin: 1em 0;

		&:before {
			position: absolute;
			top: -5px; left: -12px;
			font-size: 1.5em;
		}
	}

	q:after { content: "\201D"; }
}
