//typography / branding

body {

	// force width?
	min-width: grid(1);

	font-family: $font__sans;
	font-size: em(14);
	
	@include breakpoint(2) {
		font-size: em(16);
	}

	@include breakpoint(3) {
		font-size: em(18);
	}
}

%alpha,
.alpha {
	margin: 0.25em 0;

	font-size: em(60,14);
	font-family: $font__hand;
	font-weight: 200;
	line-height: 1;

	@include breakpoint(3) {
		font-size: em(100,18);
	}
}

%beta,
.beta {
	margin: 1em 0 0.2em;
	color: $blue;
	
	font: {
		size: em(28,18);
		family: $font__serif;
		weight: normal;
	}
}

%gamma,
.gamma {
	margin: 3em 0;
	color: #a5766e;
	font-size: em(20);
	font-weight: normal;
	text-align: center;
}

// doesn't always have the line treatment
%gamma--line,
.gamma--line {
	position: relative;
	display: block;

	&:before{
		content: "";
		position: absolute;
		top: 50%; left: 2em; right: 2em;

		height: 1px;
		border-top: 1px solid #a5766e;
		border-bottom: 1px solid #a5766e;
	}

	.gamma__text { position: relative; background: #fff7f3; padding: 0 0.5em; }
}

%delta,
.delta {
	margin: 0 0 0.5em;
	color: #6a4944;
	font: {
		size: em(24,18);
		family: $font__serif;
		weight: normal;
	}
}






%link {
	color: #8174d3;
	border-bottom: 1px dashed #70699e;
	text-decoration: none;


	&:hover,
	&:focus { background: #f3ebe8; border-bottom-style: solid; }
}


// allows the color of whatever we set to run through
a { color: inherit; }

ins {
	padding: 0 2px;
	background: #f7d498;
	text-decoration: none;
	font: {
		style: italic;
		// weight: bold;
	}
}

.intro {
	font: {
		size: 1.07em;
		weight: bold;
	}

	bold { font-weight: normal; }
}

//all "editable" content should look the same
.t-copy {
	
	// https://github.com/csswizardry/inuit.css/blob/master/base/_headings.scss
	$headings : alpha, beta, gamma/* , delta, epsilon, zeta */;


	// does this cap line lenght?
	// max-width: 45em!important;
	max-width: 36em!important;

	a {
		@extend %link;

		// change for home content
		.t-sector--muted & {
			color: $blue;
			border-bottom-color: $blue;


			&:hover,
			&:focus {
				color: #8174d3;
				border-bottom-color: #70699e;
			}
		}
	}
	


	// create mah headings
	@each $heading in $headings {
		$i : index($headings, $heading);
		
		h#{$i} {
			@extend %#{$heading};
		}
	}

	ul {
		margin: 0 0 1em;
		
		li {
			position: relative;
			list-style: none;
			margin-bottom: 0.25em;

			//bullet
			&:before {
				content: "\2022";
				position: absolute;
				top: 0; left: -0.6em;

				font-size: 1.5em;
				line-height: 1; vertical-align: middle;
			}
		}
	}

	li > ul,
	li > ol { margin-bottom: 0; }

	
	blockquote,
	q {
		&:before,
		&:after {
			font-weight: bold;
		}


		&:before { content: "\201C"; }
	}


	.pull {
		position: relative;
		margin: 1em 0;

		&:before {
			position: absolute;
			top: -5px; left: -12px;
			font-size: 1.5em;
		}
	}

	blockquote:after,
	q:after { content: "\201D"; }


	img {
		@include transition(width 0.2s linear, height 0.2s linear);
		max-width: 100%;
		height: auto;
	}
}
