%column {
	@include box-sizing(border-box);
}


[class^="col__"],
[class*=" col__"] {
	@extend %column;
}

@include breakpoint(640px) {
	[class^="col__"],
	[class*=" col__"] {
		float: left;
		width: 48%;

		@include transition(width 0.2s);
	}

	.col__1-2 { margin-right: 2%; }

	.col__2-2 { margin-left: 2%; }
}

//non 50% cols need to get thier widths now
@include breakpoint(960px) {
	[class^="col__"],
	[class*=" col__"] {
	}

	.col--one-third { width: 31%; }
	.col--two-thirds { width: 64%; }
}