// lib
// must be first
@import "leVars";
@import "giraffic.0.1/giraffic";


// smaccs

	// base
	@import "assets/_reset.scss";

	@import "assets/_font-awesome.scss";

	// beging typography
	@import "base";


@import "layout";
@import "module";
// @import "state";
@import "theme";


/*
//custom for this site
@import "mixins";

//styleguide / typography



//imports controls / widgets for easier management
@import "loadControls";

//page / template
@import "layout";
@import "grerds";

//----------------------------------------------------------------------------

// todo: move out ALL of this
//helper classes

//describe the triple-redundant system? 
@mixin offScreen {
	position: absolute;
	left: -100%;
	display: block;
	width: 1px; height: 1px;
	font-size: 0;
}

%offScreen { @include offScreen; }

.offScreen { @extend %offScreen; }










//---------------------------
//quick setups from site vars
body {
	color: $textColor;
	font-size: $bodyFontSize;
}
*/