

//----------------------------------------------------------------------------


//helper classes

//describe the triple-redundant system? 
@mixin offScreen {
	position: absolute;
	left: -100%;
	display: block;
	width: 1px; height: 1px;
	font-size: 0;
}

%offScreen { @include offScreen; }

.offScreen { @extend %offScreen; }


.sprite, .sprite--contrast { display: inline-block; }

.sprite { background-image: url($sprite) }

.sprite--contrast {
	posistion: relative;
	overflow: hidden;
}

.sprite--contrast:before {
	position: absolute;
	content : url($sprite);
}







//---------------------------
//quick setups from site vars
body {
	color: $textColor;
	font-size: $bodyFontSize;
}