//page layout

/*
	header, body, footer

	page__width
*/



//----------------------------------------
//page stuff
html { background: #40454b; }
body { @include fontFace(body); }






//----------------------------------------------------------------------------


//not really controls as such, but part of the template design
.branding--logo {
	@include fontFace(hand);
	
	display: block;
	color: #a64536;
	font-size: 26px; line-height: 22px; text-decoration: none;

	span { display: block; text-indent: 1.4em; } //about 1 tab || 4 spaces?
}



.homeText {
	@include fontFace(hand);
	font-size: 20px; line-height: 1;

	//keeps on the one line
	.standout {
		display: block;
		// width: 200px;
		font-size: 52px;
	}

	small { display: block; padding: 1em 0 2em; }
}




.page__footerLinks {
	position: relative;

	//need to be full screen on mob so push in to padding
	margin: -10px -10px 10px;
	padding-bottom: 20px;
	background: #b3b3b5;

	li { display: inline-block; }

	a {
		color:#40454b;
		font-size: 30px;
	}

	@media (min-width: 960px) { margin-right: -20px; margin-left: -20px; }

	@media (min-width: 960px) {
		float: right;
		margin: 0 40px 0 0; padding: 0;
		background: none;

		li { margin: 0 5px; }
		a { color: #b3b3b5; text-shadow: none; }

		svg { display: none; }
	}
}


.nav--socialLinks {
	ul {
		margin: 0; padding: 0;
		text-align: center;
	}

	li { margin: 0 20px; }

	a { text-decoration: none; text-shadow: 1px 1px 0 rgba(#fff, 0.5); }
}

.page__copywrite {
	@include fontFace(hand);

	font-size: 20px;
}



//----------------------------------------------------------------------------


//page__width settings
.page__width {
	max-width: 1200px;
	margin: 0 auto; padding: 10px;
}

.page__header {
	
	//keep out of normal flow
	position: fixed; top: 0; left: 0; right: 0; z-index: 40;

	.page__width { position: relative; padding: 0; height: 80px; }

	.topLayer {
		position: absolute;
		top: 0; right: 0; left: 0;
		z-index: 20;
		
		padding: 5px 10px 0;
		background: #eebdb5;
	}

	// .bottomLayer { position: relative; z-index: 10; }
}


.page__body {
	//anchors giraffe head and neck
	position: relative;
	
	.page__width {
		padding-top: 95px; padding-right: 45px; //neck takes up this space
		background: #fff7f3;
	}
}

.page__footer {
	position: relative; //anchors giraffe body
	background: #40454b; color: #b3b3b5; //#fff

	.page__width { position: relative; }

	.footerTriangle {
		position: absolute; bottom: 0; left: 0;
		width: 100%; height: 20px;
		use { fill: #7a7c80; }
	}



	//----------------------------------------------------------------------------


	@media (min-width: 640px) {
		.page__copywrite {
			float: left; width: 240px;
		}

		.screenSizes { float: left; margin-left: 40px; }
	}
}

@media screen and (min-width: 640px) {
	.page__width {
		padding: 10px 20px;
	}

}