/*
	Layout rules divide the page into sections. Layouts hold one or more
	modules together.
*/


.page__width {
	margin: 0 auto;
	padding-right: 45px;


	@include breakpoint(23) {
		padding-right: 0;
	}

	@include breakpoint(3) {
		width: 960px;
	}
}