// site variables

// use blank string in array so we get prefix-free as final result
$prefixes : -webkit-, -moz-, -o-, "";

$textColor : #1b1a1a;
$bodyFontSize : 13px;

// theme
$blue : #4b5765;
$blue--light : #94a3b4;
// 737e8c

$red : #a64536;
$red--light : #ba938d;
$red--dark : #8a5e57;

$giraffe__yellow : #f7c876 ;
$giraffe__yellow--dark : #ce8e35;




//----------------------------------------------------------------------------

$grid__length : 320px;

$gutter: 16px;
$gutter--desktop: $gutter * 2;

// type
$font__hand : "Gochi Hand", cursive;
$font__sans : "Noto Sans", Verdana, serif;
$font__serif : "Bree Serif", Georgia, serif;


$sprite : "/giraffe/images/sprites.png";
$noise : "/giraffe/images/noise.png";