//consistent branding of font families and weights
@mixin fontFace($font){
	@if $font == "hand" {
		font-family: "Gochi Hand", cursive;

	} @else if $font == "body" or $font == "body--bold" {
		font-family: "Noto Sans", Verdana, serif;
		
		//set correct weight
		@if $font == "body" {
			font-weight: 400;
		} @else {
			font-weight: 700;
		}

	} @else if $font=="slab" {
		font-family: "Bree Serif", serif;

	//didn't match
	} @else {
		@warn "'#{$font}' didn't match any fonts";
	}
}