//sprites
@mixin sprite($coordinates, $dimensions, $aaMode : false) {

	//box dimensions go on the current element regardless
	width: nth($dimensions, 1);
	height: nth($dimensions, 2);

	@if $aaMode == false {

		//position the sprite background image
		background-position: nth($coordinates, 1) nth($coordinates, 2);
	} @else {

		//offset the image
		&:before {
			left: nth($coordinates, 1);
			top: nth($coordinates, 2);
		}
	}
}


//consistent heading styles regardless of element
@mixin heading($level : null) {
	
	//standard across all headings
	@include fontFace("serif");

	@if $level == 1 or $level == "page" {
		color: $red;
		font-size: 32px;

	} @else if $level == "post" {
		margin-bottom: 10px;
		color: #282e35;
		font-size: 28px;
		
	} @else if $level == 2 {
		margin-bottom: 5px;
		color: $blue;
		font-size: 22px;
	} @else if $level == 3 {
		margin-bottom: 2px;
		color: #7e3429;
		font-size: 18px;
	}
}



//consistent branding of font families and weights
@mixin fontFace($font) {
	@if $font == "hand" {
		font-family: "Gochi Hand", cursive;

	} @else if $font == "body" or $font == "body--bold" {
		font-family: "Noto Sans", Verdana, serif;
		
		//set correct weight
		@if $font == "body" {
			font-weight: 400;
		} @else {
			font-weight: 700;
		}

	} @else if $font=="serif" {
		font: {
			family: "Bree Serif", Georgia, serif;
			weight: 400;
		}

	//didn't match
	} @else {
		@warn "'#{$font}' didn't match any fonts";
	}
}



//----------------------------------------------------------------------------


//need to move out to helerps
@mixin clearfix {
	&:after { content: ""; display: table; clear: both; }
}

//double tier mofo!
%clearfix { @include clearfix; }
.clearfix { @extend %clearfix; }


//mixin_description
@mixin box-shadow($shadow...){
	@each $prefix in $prefixes {
		#{$prefix}box-shadow: $shadow;
	}
}

//mixin_description
@mixin box-sizing($sizing){
	@each $prefix in $prefixes {
		#{$prefix}box-sizing: $sizing;
	}
}


//----------------------------------------------------------------------------


//non-media query media query : http://seesparkbox.com/foundry/structuring_and_serving_styles_for_older_browsers
@mixin breakpoint($breakpoint) {
	@if $sans-media {
		@content;
	} @else {
		@media screen and (min-width: $breakpoint) {
			@content;
		}
	}
}