//site variables

$allPrefixes : "-webkit-", "-moz-", "-ms-", "";

$textColor : #1b1a1a;
$bodyFontSize : 13px;

//theme
$blue : #637182;
$blue--light : #b1c2d6;
//737e8c

$red : #a64536;



$sprite : "/giraffe/images/sprites.png";