//made these partials to save separate requests
@import "assets/_reset.scss";
@import "assets/_font-awesome.scss";


@import "siteVariables"; //must be first
@import "init"; //we have our settings, "create" helper classes and 'reset' page

@import "mixins"; //custom for this site
@import "branding"; //styleguide / typography

//what happens if we do this? does it mean that widgets will get only typography applied to them?
@media screen {
	@import "loadControls"; //imports controls / widgets for easier management

	@import "layout"; //page / template
}

@media print {
	//add styles here?
}

//arrow creater
@mixin arrow($color){

}

.page__header .bottomTriangle {
	position: absolute;
	left: 0;
	top: 49px;
	width: 100%;
	height: 15px;
	
	use {
		fill: #eebdb5;
	}
	

	// -webkit-transform: rotate(-5deg);
	
	// border-style: solid;
	// border-width: 20px 100% 0 0;
	// border-color: #eebdb5 transparent transparent transparent;

}