.blog--list {
	.blog__item { position: relative; }

	.s-scarfe {
		position: absolute; z-index: 2;
		top: 1em; right: -82px;
		text-indent: 35px;
		line-height: 40px;
		color: #fff;
	}


	@include breakpoint(3) {
		
		// remove scarfe
		.s-scarfe {
			position: static;
			background: none;
			display: inline;

			text-indent: 0;
			line-height: inherit;
			color: inherit;
		}
	}
}

.s-scarfe {
	@include sprite(-347px -182px, 201px 72px);
}