.blog--list {

	// is an <a>
	.blog__title { display: inline-block; }

	.blog__item { margin-bottom: 2em; }
	
	.blog__summary {

		// omg drerp cerps
		:not(.intro):first-child:first-letter {
			float: left;
			padding-right: 0.2em;

			color: $blue;
			font-size: 2.2em;
			line-height: 1;
			text-shadow: 1px 1px 0 #fff7f3, 2px 2px 0 $blue;
		}
	}

	//housekeeping for links
	a.blog__title.delta {
		border-bottom: 1px solid transparent;
		text-decoration: none;
		
		&:hover,
		&:focus {
			color: #8174d3;
			background: #f3ebe8;
			border-bottom-color: #70699e;
		}
	}
}

.blog--mini {
	.blog__title { font-weight: bold; }
}

.blog__meta {
	margin: 2em 0 1em;

	// gamma got updated to need a __line element as the line became optional
	.meta__tags {
		// is now inside __line, need to force next line
		display: block;
		font-size: 0.7em;
	}
}