.fauxHighlight {
	position: relative;
	margin: 1em 0 2em;
	background: #14191f;
	color: #5b9bc2;
	font-size: em(12,18);

	pre { margin: 0; padding: 10px 20px; }

	//add the code type as a heading
	&:before {
		display: block;
		padding: 2px 10px;
		content: ">_ " attr(data-lang);
		color: #60e2ff;
		background: #324357;
		border-bottom: 1px dashed #14191f;
		font: {
			size: 18px;
			family: "Monaco", "Segoe UI", monospace, serif;
		}
	}

	// theme changes
	&[data-lang="javascript"] {
		background: #141414;
		color: #9b703f;

		&:before {
			background: #9b703f;
			color: #f9ee98;
			border-bottom-color: #141414;
		}
	}

	// @fixme: get red from theme 
	&[data-lang="ruby"] {
		color: $red;

		&:before {
			color: $red--light;
			background: darken($red--dark, 10%);
		}
	}

	&[data-lang="html"] {
		color: #73956A;

		&:before {
			color: lighten(#73956A, 20%);
			background: darken(#73956A, 15%);
		}
	}

}