
.footnotes {
	position: relative;
	margin-bottom: 3em;
	padding-top: 2em;


	// need to build the gamma--line guy, but w psuedo as we dont have access to markup
	&:before {
		content: "";
		position: absolute;
		top: 1em; left: 2em; right: 2em;

		height: 1px;
		border-top: 1px solid #a5766e;
		border-bottom: 1px solid #a5766e;
	}

	&:after {
		position: absolute; top: 0.5em; left: 50%;
		content: "\F02D";

		padding: 0 0.5em;
		color: #a5766e;
		background: #fff7f3;
		
		font-family: "FontAwesome";
		text-align: center;
	}

	hr { display: none; }

	ol {
		counter-reset: numbers;
		margin: 0 0 1em 1.3em;

		li {
			counter-increment: numbers;

			position: relative;
			list-style: none;
			margin-bottom: 0.25em;

			// fanceh numbers
			&:before {
				content: counter(numbers) ".";
				position: absolute;
				top: 0; left: -1.3em;

				font-weight: bold;
				vertical-align: middle;
			}

			// better target state
			&:target {
				@include animation(duration, 3s);
				@include animation(name, hightlight);
				@include animation(timing-function, ease-in);
			}
		}
	}

	// was snapping the return link to the next line if the note was long. forces same line
	p { display: inline; }
}

// animation state for target
// @-webkit-keyframes hightlight {
@include keyframes(hightlight) {
	$color: #f7d498;

	0% { background: rgba($color, 0.4); }

	20% { background: rgba( mix($color, #fff), 0.9); }

	50% { background: rgba( mix($color, #fff), 0.7); }

	100% { background: rgba($color, 0); }
}