/*
	giraffe has three parts : head; neck; body. neck takes up the height of .page__body (breaks out a bit also)
	
	anchor to the right and make sure that each part lines up correctly. .page__width for this section has extra right padding too
*/
[class*="s-giraffe__"] {
	@include transition(opacity 0.5s);

	position: absolute; z-index: 2;
	opacity: 0.2;

	@include breakpoint(3) {
		opacity: 1;
	}
}

.s-giraffe__head {
	top: 10px; right: 0;
	@include sprite(-348px 0, 139px 172px);


	@include breakpoint(5) {
		width: 149px;
		// right: 118px;
		right: 157px;
	}

	@include breakpoint(6) {
		right: 277px;
	}
}


.s-giraffe__neck {
	width: 44px;
	background-repeat: repeat-y;
	top: 182px; right: 9px; bottom: 148px;

	@include breakpoint(5) {
		right: 176px;
	}

	@include breakpoint(6) {
		right: 296px;
	}

}

.s-giraffe__body {
	@include sprite(-54px 0, 53px 248px);
	bottom: -100px;
	right: 0;

	@include breakpoint(5) {
		width: 63px;
		width: 220px;
	}

	@include breakpoint(6){
		right: 56px;
		width: 284px;
	}
}