.navigation--site {
  position: relative;
  z-index: 200;
  margin: 0 -10px; }
  .navigation--site ul {
    margin-top: -100%;
    background: #bb948e; }
    .navigation--site ul li {
      text-align: center; }
    .navigation--site ul a {
      display: block;
      padding: 10px 0; }
  .navigation--site .navTriangle {
    height: 20px; }
    .navigation--site .navTriangle use {
      fill: #bb948e; }
  .navigation--site.active ul {
    margin-top: 0; }
