.navigation--site {
	text-align: center;

	ul {
		display: none;
	}

	// nuke it from the first one
	:first-child a { padding-top: 0; }


	a {
		display: block;
		padding: 8px 0;
		color: $giraffe__yellow;
		text-decoration: none;
		font: {
			family: $font__hand;
			size: em(28);
		}

		@include transition(color 0.2s linear);

		&:hover,
		&:focus { color: #f7deb1; }
	}

	button {
		@include prefix-transition(transform 0.5s ease);

		//clear button styles
		padding: 10px; background: none; border: none;

		//screen reader text
		font-size: 0;

		[class^="icon-"] {
			font-size: 32px;
			color: $giraffe__yellow;
		}
	}

	&.is-active {
		button {
			@include transform(rotate(180deg));
		}
	}

	@include breakpoint(3) {
		text-align: left;

		ul {

			// force the nav to be persistant
			display: block!important;
		}

		li {
			display: inline-block;

			+ li { margin-left: 55px; }
		}

		a {
			padding: 0;
			color: $blue--light;

			&:hover,
			&:focus { color: $giraffe__yellow--dark; }
		}

		button { display: none; }
	}
}