/*
	there are four icons, phone > desktop. based on the width we make them solid white and less transparent
*/

.screenSizes {
	text-align: center; vertical-align: top;

	i {
		//bezier makes massive desktop "pop"
		@each $prefix in $prefixes {
			#{$prefix}transition: opacity 0.2s, color 0.2s, font-size 0.2s cubic-bezier(0,0,1,2) ;
		}

		opacity: 0.1;

		margin: 0 5px;
		font-size: 36px;
	}

	.icon-mobile-phone {
		opacity: 1;
		color: #fff;
	}

	//alter device icons
	@include breakpoint(500px) {
		.icon-tablet { opacity: 0.5; color: #fff; }
	}

	@include breakpoint(600px) {
		.icon-mobile-phone { opacity: 0.5; }
		
		.icon-tablet { opacity: 1; }
		
		.icon-laptop { opacity: 0.5; color: #fff; }
	}
		
	@include breakpoint(800px) {
		.icon-mobile-phone { opacity: 0.1; color: inherit; }
		.icon-laptop { opacity: 1; }
	}

	@include breakpoint(900px) {
		.icon-desktop { opacity: 0.5; color: #fff; }
	}

	@include breakpoint(1024px) {
		.icon-desktop { opacity: 1; }
		
		.icon-tablet { opacity: 0.1; color: inherit; }
	}

	@include breakpoint(1280px) {
		.icon-laptop { opacity: 0.5; }
	}

	@include breakpoint(1440px) {
		.icon-laptop { opacity: 0.1; color: inherit; }
	}

	//for the lolz
	@include breakpoint(1921px, true) {
		.icon-desktop { font-size: 200px; }
	}
}