.socialLinks {
	margin-bottom: 0.5em;


	li {
		display: inline-block;

		+ li { margin-left: 1em; }
	}

	.social__link {
		color: #131518;
		font-size: em(32);
		text-shadow: 0 1px $blue;
		text-decoration: none;
	}


	@include breakpoint(3) {
		float: right;
	}
}