@function em($target, $context: 16px) {
	
	// ala http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#id9
	@if unitless($target) {
		$target : $target * 1px;
	}

	@if unitless($context) {
		$context : $context * 1px;
	}

	// multiply at end to keep unit type
	@return ($target / $context) * 1em;
}

@function grid($amount, $size: $grid__length) {
	@return $amount * $size;
}


// todo: document
@mixin sprite($coordinates, $dimensions, $aaMode : false) {

	// box dimensions go on the current element regardless
	width: nth($dimensions, 1);
	height: nth($dimensions, 2);

	@if $aaMode == false {

		// position the sprite background image
		background-position: nth($coordinates, 1) nth($coordinates, 2);
	} @else {

		// offset the image
		&:before {
			left: nth($coordinates, 1);
			top: nth($coordinates, 2);
		}
	}
}


@mixin box-shadow($shadow...){
	@each $prefix in $prefixes {
		#{$prefix}box-shadow: $shadow;
	}
}

@mixin box-sizing($sizing){
	@each $prefix in $prefixes {
		#{$prefix}box-sizing: $sizing;
	}
}

@mixin transition($property...){
	@each $prefix in $prefixes {
		#{$prefix}transition: $property;
	}
}

@mixin transform($property...){
	@each $prefix in $prefixes {
		#{$prefix}transform: $property;
	}
}

//what if we need to transition an already prefixed property like transforms
@mixin prefix-transition($property...){
	@each $prefix in $prefixes {
		#{$prefix}transition: #{$prefix}$property;
	}
}




//----------------------------------------------------------------------------


/*
* animations
* need to prefix timing / delays etc via @animation, perhaps
* best to have seperately.
* 
* keyframes loops each content with the prefixed keyframe 
*/

// prefix protery w value
@mixin animation($prop, $value){
	@each $prefix in $prefixes {
		#{$prefix}animation-#{$prop} : $value;
	}
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}

	@-moz-keyframes #{$name} {
		@content;
	}

	@keyframes #{$name} {
		@content;
	}
}



//----------------------------------------------------------------------------


//non-media query media query : http://seesparkbox.com/foundry/structuring_and_serving_styles_for_older_browsers
@mixin breakpoint($grids: 1, $ignore: false ) {
	
	// how many grids of 320 do we want, converted into ems
	$breakpoint: em(grid($grids));


	@if $sans-media and $ignore==false {
		@content;

	} @else {
		@media screen and (min-width: $breakpoint) {
			@content;
		}
	}
}