//typography / branding

h2 {
	//already has body font, just need weight
	font-weight: 700;
}


//all "editable" content should look the same
.contentChunk {
	max-width: 56em;

	a:link {
		color: #8174d3;
		border-bottom: 1px dashed #70699e;
		text-decoration: none;


		&:hover,
		&:focus { background: #f3ebe8; border-bottom-style: solid; }
	}
}