//page layout

/*
	header, body, footer

	page__width
*/



//----------------------------------------
//page stuff
html { background: #40454b; }
body { @include fontFace(body); }






//----------------------------------------------------------------------------


//not really controls as such, but part of the template design
.branding--logo {
	@include fontFace(hand);

	color: #a64536;
	font-size: 26px; line-height: 22px; text-decoration: none;

	span { display: block; text-indent: 1.4em; } //about 1 tab || 4 spaces?
}



.homeText {
	@include fontFace(hand);
	font-size: 20px; line-height: 1;

	//keeps on the one line
	.standout {
		display: block;
		// width: 200px;
		font-size: 52px;
	}

	small { display: block; padding: 1em 0 2em; }
}




.page__footerLinks {
	
	li { display: inline-block; }

	a {
		color:#40454b;
		font-size: 30px;
	}
}


.nav--socialLinks {
	ul {
		margin: 0; padding: 0;
		text-align: center;

		li { margin: 0 20px; }
	}

	a { text-decoration: none; text-shadow: 1px 1px 0 rgba(#fff, 0.5); }
}

.page__copywrite {
	@include fontFace(hand);

	font-size: 20px;
}



//----------------------------------------------------------------------------


//page__width settings
.page__width {
	max-width: 1200px;
	margin: 0 auto; padding: 10px;
}

.page__header {
	background: #eebdb5;
}


.page__body {
	position: relative; //anchors giraffe head and neck
	
	.page__width {
		padding-top: 60px; padding-right: 45px; //neck takes up this space
		background: #fff7f3;
	}
}

.page__footer {
	position: relative; //anchors giraffe body
	background: #40454b; color: #b3b3b5; //#fff
	
	//part I of the footer, lighter color
	.footerLight {
		background: #b3b3b5;
	}

	.page__width {
	}
}

@media screen and (min-width: 640px) {
	.page__width {
		padding: 10px 20px;
	}

}