{% include head.html %}
<body data-page-id="post">
	{% include header.html %}
	<div class="page__body">
		<div class="giraffe__head"></div>
		<div class="giraffe__neck"></div>
		<div class="page__width clearfix">
			<div class="layout__main col__1-2 col--two-thirds" role="main" id="content">
				<div class="contentChunk blog__fullPost">
					<h1 class="post__title alpha">{{page.title}}</h1>
					<div class="meta">
						{{ page.date | date_to_long_string }}
						
						{% if page.tags.size > 0 %}
							. Tagged in: {{ page.tags | array_to_sentence_string }}
						{% endif %}
					</div>
					{{content}}
				</div>
			</div>
			<div class="layout__sidebar col__2-2 col--one-third">
				<div class="relatedPosts island">
					<h2 class="header--sidebar">Related</h2>
					{% for post in site.related_posts %}
						<article>
							<a href="{{ post.url }}"> {{ post.title }} </a>
							<p class="contentChunk"> {{ post.excerpt }} </p>
						</article>
					{% endfor%}

					<h3>Categories</h3>
					<ul>
					{% for category in site.categories %}
						<li>
							{{category | first }} <span class="count">({{category | last | size }})</span>
						</li>
					{% endfor%}
					</ul>
				</div>

				<div class="recentPosts island">
					<h2 class="header--sidebar">Recent posts are recent</h2>
					{% for post in site.posts limit: 2 %}
						<article>
							<a href="{{ post.url }}">
								{{ post.title }}
							</a>
							<span class="date">{{ post.date | date: "%d %b" }}</span>
							<p class="contentChunk"> {{ post.excerpt }} </p>
						</article>
					{% endfor%}
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>