{% include head.html %}
<body>
	{% include header.html %}
	<div class="page__body">
		<div class="giraffe__head"></div>
		<div class="giraffe__neck"></div>
		<div class="page__width">
			<div class="layout__main" role="main" id="content">
				<div class="contentChunk blog__fullPost">
					<h1 class="postTitle">{{page.title}}</h1>
					<div class="meta">
						{{ page.date | date_to_long_string }}
						Tagged in: {{ page.tags | array_to_sentence_string }}
					</div>
					{{content}}
				</div>
			</div>
			<div class="layout__sidebar"></div>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>