{% include head.html %}
<body class="pageID-home">
	{% include header.html %}
	<div class="page__body">
		<div class="giraffe__head"></div>
		<div class="giraffe__neck"></div>
		
		<div class="page__width" role="main" id="content">
			{{content}}
			
			<section class="blergs list">
				
			{% for post in site.posts %}
			<article class="list__item">
				<h2>
					<a href="{{ post.url }}">
						{{ post.title }}
					</a>
				</h2>
				{{intro}}
			</article>
			{% endfor %}
			</section>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>