
%link {
	position: relative;
	color: #e1e3e5;
	text-decoration: none;

	// draw a line from the center to animate the hover state
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		display: block;
		width: 0;
		height: 1px;

		background: currentColor;
		margin-left: auto;
		margin-right: auto;

		transition: width 0.2s ease-in;
	}

	&:hover,
	&:focus {
		&:before {
			width: 100%;
		}
	}
}

body {
	color: #222529;

	font-family: $font__body;
	font-size: 14px;
	line-height: 1.2;
	vertical-align: baseline;
}

.page__title {
	@extend %heading__alpha;
}

// opt-in typography, everything is unstyled by default
.t-copy {
	font-size: 24px;
	max-width: 34em;
	// margin-left: auto;
	// margin-right: auto;

	h1 { @extend %heading__alpha; }

	h2 { @extend %heading__beta; }

	h3 { @extend %heading__gamma; }

	h4 { @extend %heading__epsilon; }

	h5 { @extend %heading__zeta; }

	a {
		@extend %link;
	}


	ol,
	ul {
		margin: 2em 0;

		counter-reset: numbers;
	}

	li {
		position: relative;
		margin-bottom: 0.8em;
		padding-left: 1.5em;

		&:last-child { margin-bottom: 0; }

		&:before {
			position: absolute;
			top: 10px;
			left: 0;
		}
	}

	ul > li {
		&:before {
			@include fa-icon();
			content: $fa-var-circle-o;

			font-size: 0.4em;
		}
	}

	ol > li {
		counter-increment: numbers;

		&:before {
			content: counter(numbers) ")";
			top: 0;
		}
	}
}

.copy--intro {
	font-size: 28px;
}
